<p>
  <b>Year awarded:</b>
  <%=h @grant.year_awarded %>
</p>

<p>
  <b>Amount awarded:</b>
  <%=h @grant.amount_awarded %>
</p>

<p>
  <b>Org:</b>
  <%=h @grant.org_id %>
</p>

<p>
  <b>Org name:</b>
  <%=h @grant.org_name %>
</p>

<p>
  <b>Pr description:</b>
  <%=h @grant.pr_description %>
</p>

<p>
  <b>Org city:</b>
  <%=h @grant.org_city %>
</p>

<p>
  <b>Org country:</b>
  <%=h @grant.org_country %>
</p>

<p>
  <b>Program area:</b>
  <%=h @grant.program_area %>
</p>

<p>
  <b>Program area2:</b>
  <%=h @grant.program_area2 %>
</p>

<p>
  <b>Program area3:</b>
  <%=h @grant.program_area3 %>
</p>

<p>
  <b>Program area4:</b>
  <%=h @grant.program_area4 %>
</p>

<p>
  <b>Program area5:</b>
  <%=h @grant.program_area5 %>
</p>

<p>
  <b>Program area6:</b>
  <%=h @grant.program_area6 %>
</p>

<p>
  <b>Program area7:</b>
  <%=h @grant.program_area7 %>
</p>


<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>